@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); 
@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@layer base {
    :root {
      --mau_nen_primary: #a3a380;
      --mau-vang: #efebce;
      --mau_den: #2f2f2f;
      --mau_vang_nhat: #efebe8;
      --mau_trang: #fff;
      --mau_xam: #e1ebea;
      --mau_vien_xam: #c4c4c4;
      --mau_xanh:#35736e;
    }
}

.bg-mau_nen_primary {
    background-color: var(--mau_nen_primary);
}

.text-mau_vang {
    color: var(--mau_vang);
}
